* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6ff; 
}

nav {
  padding: 4px; 
  background-color: #fff; 
  display: flex;
  align-items: center; 
  justify-content: space-between;
  position: sticky;
  border-bottom: 1px solid rgb(223, 220, 220);
}

.logo__img {
  display: flex;
  align-items: center;
  padding: 3px; 
}
.logo__img span{
  font-size: 24px;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(108, 153, 231);
  color: rgb(243, 238, 238);
  padding: 8px;
  border-radius: 50%;
}

.search__bar {
  display: flex;
  align-items: center;
  margin-left: 10px; 
}

.search__bar svg {
  width: 24px; 
  height: 24px;
  position: absolute;
  left: 100px;
}

.search__bar__input {
  padding: 6px;
  border: 1px solid rgb(208, 205, 205);
  border-radius: 16px;
  margin-right: 6px;  
  height: 36px;
  padding-left: 34px;
  font-size: 14px;
}

.nav__btn{
  border-radius: 50%;
  border: 1px dashed rgb(177, 176, 176);
  cursor: pointer;
}

.nav__btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.log__out__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  width: 160px;
  height: 75px;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
}

.log__out__container svg{
  background-color: rgb(240, 240, 240);
  border-radius: 100%;
  padding: 2px;
  margin-left: 3px;
}

.my__profile,
.log__out {
  display: flex;
  align-items: center;
  margin-right: 10px; 
  padding: 6px;
}

.my__profile svg,
.log__out svg {
  width: 24px; 
  height: 24px;
  margin-right: 3px; 
}

.my__profile:hover,
.log__out:hover {
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.search__results {
  display: none;
}

/* MAIN */
.user{
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding-bottom: 20px ;
}

.user__cover__photo{
  background-color: #e6e6ff;
  width: 860px;
  height: 375px;
  margin: 0  auto;
  border-bottom-left-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
}
.user__profile{
display: flex;
align-items: center;
justify-content: space-around;
margin-left: 260px;
margin-right: 50px;
}
.user__text{
  /* background-color: rgb(155, 94, 2); */
  padding-left: 40px;

}
.user__info{
font-size: 16px;

}
.user__info span img{
  padding: 0;
  margin: 0;
 border: 4px solid white;
 border-radius: 50%;
  width: 160px;
  height: 160px;
  position: absolute;
  left: 20.5%;
  top: 60.5%;
}

.user__edit {
  background-color: #d9d9f2;;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 65px;
}

.user__edit:hover {
  background-color: #45a049;
}

.user__edit p {
  display: inline;
  margin: 0;
}

.user__edit ion-icon {
  margin-left: 5px;
}
h2,h4,h5{
  margin: 2px;
}
h4,h5{
  margin-top: 2px;
  color: rgb(80, 76, 76);
}